@import "./variables.scss";
@import "./utilities.scss";

.button {
  width: var(--btnWidth, fit-content);
  height: var(--btnHeight, fit-content);
  border-radius: var(--borderRadius, 16px);
  transition: background-color 0.4s ease, fill 0.4s ease, color 0.4s ease;
  font-weight: var(--fontWeight, 800);
  z-index: var(--zIndex, 3);
  cursor: pointer;
}

.button:hover {
  background-color: var(--darkVariant);
  fill: var(--lightVariant);
  color: var(--lightVariant);
}

.buttonLight {
  @extend .button;
  background-color: var(--light);
  fill: var(--dark);
  color: var(--dark);
}

.buttonDark {
  @extend .button;
  background-color: var(--dark);
  fill: var(--light);
  color: var(--light);
}

.buttonActive {
  @extend .button;
  background-color: var(--darkVariant) !important;
  color: var(--lightVariant) !important;
}

button,
input {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

input::placeholder,
.inputSubmit::placeholder {
  color: var(--darkVariant);
  opacity: 1;
}

input {
  @extend .textDark;
  min-width: 100px;
  max-width: 200px;
  height: 40px;
  border-radius: var(--borderRadius, 0 16px 16px 0);
  background-color: var(--light);
}

.input-symbol {
  height: 40px;
  padding: 5px 5px 5px 10px;
  border-radius: 16px 0 0 16px;
  background-color: var(--light);
  fill: var(--dark);
}

.popUpContainer {
  @extend .contentSize;
  @extend .flexColumn;
  @extend .center;
  box-sizing: border-box;
  padding: 20px;
  min-width: 200px;
  background-color: var(--light);
  border-radius: 16px;
}

.popUpBlur {
  @extend .fillSpace;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 10;
}

.selectOptions {
  position: absolute;
  width: 120px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 12;
  margin-top: 15px;
  border-radius: 16px 0 0 16px;
  backdrop-filter: blur(5px);
}

.selectOption {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: var(--blurColor);
  color: var(--light);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.selectOption:hover {
  background-color: var(--darkVariant);
  color: var(--lightVariant);
}

.selectedOption {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: var(--dark);
  color: var(--light);
}

.swapData {
  height: 40px;
  width: 20%;
  margin: 5px 5px 5px 0;
  border-radius: 0 16px 16px 0;
  background-color: var(--light);
  overflow: hidden;
  box-sizing: border-box;
}

.swap {
  width: calc(100% - 10px);
  height: 50px;
  background-color: var(--dark);
  border-radius: 16px;
  margin: 5px 10px 0 10px;
}

.swapCreate {
  @extend .contentSize;
  @extend .lightBorder;
  color: var(--light);
  background-color: var(--dark);
  border-radius: 16px;
  padding: 10px 15px;
}

.swapList {
  @extend .lightBorder;
  height: 100%;
  max-height: calc(100% - 108px);
  color: var(--light);
  background-color: var(--dark);
  border-radius: 16px;
  margin-top: 10px;
  padding: 0 20px;
  transition: width 0.2s ease-in-out;
}

.swapContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-height: 100%;
  margin: 20px 0;
  background-color: var(--darkVariant);
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at center,
    var(--dark) 20%,
    var(--darkVariant) 120%
  );
}

.selectedTokensCharts {
  @extend .fillSpace;
  border-radius: 16px;
  max-width: 100% !important;
  min-height: 540px;
  min-width: 350px;
  background-color: transparent;
  margin-left: 10px;
  overflow: hidden;
}

.chartContainer {
  @extend .lightBorder;
  border-radius: 16px;
  width: 100%;
  height: 50%;
  min-height: 270px;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: var(--dark);
  overflow: hidden;
}

.chartMenu {
  width: 150px;
  height: 100%;
  border-radius: 16px;
  margin-right: 20px;
}

.mainChart {
  min-width: 200px;
  width: 100%;
  height: 100%;
}

.tokensSelect {
  height: 45px;
  width: 40px;
  background-color: var(--dark);
  position: fixed;
  z-index: 3;
  margin-top: 97px;
  border-radius: 0 45px 45px 0;
  left: 0;
  transform-origin: left;
  transition: width 0.3s ease, left 0.3s ease, border-radius 0.3s ease;
  overflow: hidden;
}

.tokensSelectExpanded {
  left: 10px;
  width: 300px;
  border-radius: 45px;
}

.walletsSelect {
  background-color: var(--blurColor);
  position: fixed;
  z-index: 5;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  top: 25px;
  right: 55px;
  transform-origin: top right;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, right 0.3s ease;
  overflow: hidden;
}

.walletsSelectExpanded {
  overflow: hidden;
  width: 270px !important;
  height: 400px;
  padding-bottom: 10px !important;
  padding-left: 8px !important;
  top: 90px;
  right: 10px;
}

.walletsSelect .textLight {
  transition: width 0.4s ease, height 0.4s ease, font-size 0.4s ease;
}

.walletsWindow div .textLight {
  transition: width 0.4s ease, height 0.4s ease, font-size 0.4s ease;
}

.walletsWindowExpanded .textLight {
  font-size: x-large;
}

.walletsWindowExpanded div .textLight {
  font-size: medium;
}

.headerPricePanel {
  width: 190px;
  height: 65px;
  margin: 5px;
  background-color: var(--light);
  border-radius: 45px;
  z-index: 3;
  padding: 0 7px;
  font-size: x-large;
  font-weight: 800;
  color: var(--dark);
  display: none;
}

.headerChart {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 48px;
  margin-top: 3px;
}
