/* styles/components.css */
@import "./variables.css";

/* Header Styles */
.appHeader {
  height: 80px;
  width: 100%;
}

.appHeaderPart1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    -45deg,
    var(--appBColor1) 80px,
    var(--appBColor2) 80px
  );
}

.appHeaderPart2 {
  width: 100px;
  height: 100%;
  background-color: var(--appBColor1);
}

/* Inner Window */
.innerWindow {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  min-width: 200px;
  background-color: var(--appBColor1);
  border-radius: 16px;
}

/* Triangle Styles */
.triangle {
  position: absolute;
  z-index: 0;
  height: 2999px;
  width: calc(100% - 214px);
  background: linear-gradient(
    -45deg,
    var(--appBColor2) 2121px,
    var(--appBColor1) 2121px
  );
}

.triangle2 {
  position: absolute;
  right: 0px;
  z-index: 0;
  height: 100%;
  width: 214px;
  background-color: var(--appBColor2);
}

/* Shadows */
.outer-shadow {
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.3);
}

.inner-shadow {
  box-shadow: inset 0px -3px 20px rgba(0, 0, 0, 0.3);
}

/* Buttons */
.button_active {
  background-color: var(--appColor3) !important;
  color: var(--appColor4) !important;
}

.buttonLight {
  background-color: var(--appBColor1);
  border-radius: 45px;
  width: 40px;
  height: 40px;
  margin: 5px;
  z-index: 1;
}

.buttonLight {
  transition: background-color 0.4s ease, fill 0.4s ease;
  width: 60px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
}

.buttonLight:hover {
  background-color: var(--appColor3);
}

.buttonLight svg {
  fill: var(--appBColor2);
  transition: fill 0.4s ease;
}

.buttonLight:hover svg {
  fill: var(--appColor4);
}

.buttonDark {
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: var(--appBColor2);
  border-radius: 45px;
  width: 60px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
}

.buttonDark:hover {
  background-color: var(--appColor3);
}

.buttonDark svg {
  fill: var(--appBColor1);
  transition: fill 0.4s ease;
}

.buttonDark:hover svg {
  fill: var(--appColor4);
}

.buttonCreate {
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: var(--appBColor1);
  border-radius: 0 16px 16px 0;
  width: 40px;
  height: 40px;
}

.buttonCreate:hover {
  background-color: var(--appColor3);
}

.buttonCreate svg {
  fill: var(--appBColor2);
  transition: fill 0.4s ease;
}

.buttonCreate:hover svg {
  fill: var(--appColor4);
}

.swapConfirm {
  transition: background-color 0.4s ease, fill 0.4s ease;
  height: 40px;
  width: 60px;
  margin: 5px;
  border-radius: 16px;
  background-color: var(--appBColor1);
  color: var(--appBColor2);
}

.swapConfirm:hover {
  background-color: var(--appColor3);
}

.swapConfirm svg {
  fill: var(--appBColor2);
  transition: fill 0.4s ease;
}

.swapConfirm:hover svg {
  fill: var(--appColor4);
}

.addTradeButton {
  background-color: var(--appBColor1);
  border-radius: 45px;
  width: 60px;
  height: 30px;
  margin: 5px;
  z-index: 1;
}

.addTradeButton:hover {
  background-color: var(--appColor3);
}

/* Inputs */
.input {
  min-width: 100px;
  max-width: 200px;
  height: 40px;
  margin: 5px 5px 5px 0;
  border-radius: 0 16px 16px 0;
  background-color: var(--appBColor1);
  font-weight: 900;
  font-family: "Century Gothic";
  color: var(--appBColor2);
  font-size: 18px;
}

.input-image {
  border-radius: 16px 0 0 16px;
  margin: 5px 0 5px 5px;
  height: 40px;
  width: 40px;
  padding: 8px;
  background-color: var(--appBColor1);
}

.input-symbol {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--appBColor1);
  font-weight: 900;
  font-family: "Century Gothic";
  color: var(--appBColor2);
  font-size: 18px;
  line-height: 1;
}

.input-label {
  font-weight: 900;
  color: var(--appBColor2);
  font-family: "Century Gothic";
  font-size: 15px;
}

.inputSubmit {
  width: 100px;
  height: 40px;
  max-width: 200px;
  margin: 5px 0 5px 0;
  background-color: var(--appBColor1);
  font-weight: 900;
  font-family: "Century Gothic";
  color: var(--appBColor2);
  font-size: 18px;
}

/* Swap Data */
.swapData {
  height: 40px;
  width: 20%;
  margin: 5px 5px 5px 0;
  border-radius: 0 16px 16px 0;
  background-color: var(--appBColor1);
  overflow: hidden;
  box-sizing: border-box;
}

.swapDataText {
  height: 40px;
  width: calc(100% - 5px);
  font-weight: 900;
  font-family: "Century Gothic";
  color: var(--appBColor2);
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

/* Approve Background */
.ApproveBackground {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 10;
}

/* Content */
.content {
  box-sizing: border-box;
  background-color: transparent;
  overflow: auto;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  padding: 0 10px 10px 10px;
  z-index: 1;
}

/* Trades */
.trades {
  width: fit-content;
  min-height: 500px;
  height: 100%;
}

.tradeCreateHeader {
  font-size: 18px;
  font-family: "Century Gothic";
  font-weight: 900;
  line-height: 1;
  margin-bottom: 12px;
  padding-top: 5px;
}

.tradeCreate {
  width: fit-content;
  height: fit-content;
  color: var(--appBColor1);
  background-color: var(--appBColor2);
  border-radius: 16px;
  padding: 10px 15px;
}

.tradeList {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 120px);
  color: var(--appBColor1);
  background-color: var(--appBColor2);
  border-radius: 16px;
  margin-top: 10px;
  padding: 0 20px;
  transition: width 0.2s ease-in-out;
}

.tradeContainer {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  background-color: var(--appColor3);
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: radial-gradient(
    circle at center,
    var(--appBColor2) 20%,
    var(--appColor3) 120%
  );
}

.tradesPlaceholder {
  color: var(--appBColor1);
  font-weight: 900;
  font-size: 25px;
  font-family: "Century Gothic";
}

.ListHeaderText {
  font-size: 18px;
  font-weight: 900;
  font-family: "Century Gothic";
  padding: 10px;
  width: 100px;
  height: 40px;
  margin: 5px;
}

/* Trade Tokens Charts */
.tradeTokensCharts {
  max-width: 100% !important;
  min-height: 500px;
  min-width: 350px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-left: 10px;
  overflow: hidden;
}

.chartContainer {
  border-radius: 16px;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  padding-bottom: 8px;
  background-color: var(--appBColor2);
  overflow: hidden;
}

/* Search */
.search {
  height: fit-content;
  width: 40px;
  background-color: var(--appBColor2);
  position: fixed;
  z-index: 5;
  margin-top: 90px;
  border-radius: 0 45px 45px 0;
  left: 0;
  transform-origin: left;
  transition: width 0.3s ease, left 0.3s ease, border-radius 0.3s ease;
  overflow: hidden;
}

.searchExpanded {
  left: 10px;
  width: 300px;
  border-radius: 45px;
}

.searchButton {
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: var(--appBColor2);
  border-radius: 0 45px 45px 0;
  width: 40px;
  height: 50px;
  padding-right: 5px;
  z-index: 3;
  cursor: pointer;
}

.searchButton:hover {
  background-color: var(--appColor3);
}

.searchButton svg {
  fill: var(--appBColor1);
  transition: fill 0.4s ease;
}

.searchButton:hover svg {
  fill: var(--appColor4);
}

/* Select Options */
.selectOptions {
  position: absolute;
  width: 120px;
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 12;
  margin-top: 15px;
  border-radius: 16px 0 0 16px;
  backdrop-filter: blur(5px);
}

.selectOption {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: var(--blurColor);
  color: var(--appBColor1);
  transition: color 0.3s ease, background-color 0.3s ease;
}

.selectOption:hover {
  background-color: var(--appColor4);
  color: var(--appColor3);
}

.selectedOption {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: var(--blurColor2);
  color: var(--appBColor1);
}

.selectText {
  line-height: 1;
  font-size: 15px;
  font-weight: 900;
  font-family: "Century Gothic";
  margin-left: 5px;
}

/* Back Button */
.BackButton {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.searchExpanded .BackButton {
  opacity: 1;
  pointer-events: auto;
}

.BackButton {
  transition: background-color 0.4s ease, fill 0.4s ease;
  background-color: var(--appBColor2);
  border-radius: 45px 0 0 45px;
  width: 40px;
  height: 50px;
  z-index: 3;
  cursor: pointer;
}

.BackButton:hover {
  background-color: var(--appColor3);
}

.BackButton svg {
  fill: var(--appBColor1);
  transition: fill 0.4s ease;
}

.BackButton:hover svg {
  fill: var(--appColor4);
}

/* Wallets Window */
.walletsWindow {
  background-color: var(--blurColor);
  position: fixed;
  z-index: 5;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  top: 25px;
  right: 55px;
  transform-origin: top right;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, right 0.3s ease;
  overflow: hidden;
}

.walletsWindowExpanded {
  overflow: hidden;
  width: 270px !important;
  height: 400px;
  padding-bottom: 10px !important;
  padding-left: 8px !important;
  top: 90px;
  right: 10px;
}

.walletsWindow .textS1Light {
  transition: width 0.4s ease, height 0.4s ease, font-size 0.4s ease;
}

.walletsWindow div .textS2Light {
  transition: width 0.4s ease, height 0.4s ease, font-size 0.4s ease;
}

.walletsWindowExpanded .textS1Light {
  font-size: x-large;
}

.walletsWindowExpanded div div .textS2Light {
  font-size: medium;
}

/* Text Styles */
.textS1Light {
  color: var(--appBColor1);
  font-weight: 800;
  font-family: "Century Gothic";
  font-size: 5px;
  text-align: center;
}

.textS2Light {
  color: var(--appBColor1);
  font-weight: 800;
  font-family: "Century Gothic";
  font-size: 5px;
  white-space: nowrap;
}

.textS1Dark {
  color: var(--appBColor2);
  font-weight: 800;
  font-family: "Century Gothic";
  font-size: x-large;
  line-height: 1;
}

/* Header Price Panel */
.HeaderPricePanel {
  width: 190px;
  height: 65px;
  margin: 5px;
  background-color: var(--appBColor1);
  border-radius: 45px;
  z-index: 3;
  padding: 0 7px;
  font-size: x-large;
  font-weight: 800;
  color: var(--appBColor2);
  display: none;
}

.HeaderChart {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 48px;
  margin-top: 3px;
}

/* Chart Menu */
.chartMenu {
  width: 150px;
  height: 100%;
  border-radius: 16px;
  margin-right: 20px;
}

.chartMenuTitle {
  padding-top: 5px;
  color: var(--appBColor1);
  font-weight: 900;
  font-family: "Century Gothic";
  font-size: 15px;
}

.MenuText {
  color: var(--appBColor1);
  font-weight: 900;
  font-family: "Century Gothic";
  padding-top: 10px;
  font-size: 15px;
}

/* Main Chart */
.MainChart {
  min-width: 200px;
  width: 100%;
  height: 100%;
}

/* Header Text */
.HeaderText {
  line-height: 1;
  font-size: 12px;
  font-weight: 900;
}

.HeaderText2 {
  line-height: 1;
  font-size: 12px;
  font-family: "Century Gothic";
  font-weight: 900;
}

/* Swap */
.swap {
  width: calc(100% - 10px);
  height: 50px;
  background-color: var(--appBColor2);
  border-radius: 16px;
  margin: 5px 10px 0 10px;
}

/* Chart Button */
.chartButton {
  width: 30px;
  height: 30px;
  line-height: 1;
  background-color: var(--appBColor1);
  color: var(--appBColor2);
  font-weight: 900;
  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.chartButton:hover {
  background-color: var(--appColor3);
  color: var(--appColor4);
}

.chartButtons {
  margin-right: -15px;
}

.buttonWallet {
  margin: 15px 40px 15px 0;
}

.buttonActive {
  background-color: var(--appColor3);
  border-radius: 45px;
  width: 60px;
  height: 50px;
  z-index: 3;
}

.buttonActive svg {
  fill: var(--appColor4) !important;
  transition: fill 0.4s ease;
}
