@import "./variables.scss";
@import "./utilities.scss";
@import "./components.scss";

body,
html,
#root,
.app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.appHeader {
  height: 80px;
  width: 100%;
  box-shadow: inset 0 -3px 20px rgba(0, 0, 0, 0.3);
}

.appHeaderLeft {
  @extend .fillSpace;
  background: linear-gradient(
    -45deg,
    var(--appBColor1) 80px,
    var(--appBColor2) 80px
  );
}

.appHeaderRight {
  width: 100px;
  height: 100%;
  background-color: var(--appBColor1);
}

.triangleLeft {
  position: absolute;
  display: flex;
  z-index: 0;
  height: 2999px;
  width: calc(100% - 214px);
  background: linear-gradient(
    -45deg,
    var(--appBColor2) 2121px,
    var(--appBColor1) 2121px
  );
}

.triangleRight {
  position: absolute;
  display: flex;
  right: 0;
  z-index: 0;
  height: 100%;
  width: 214px;
  background-color: var(--appBColor2);
}

.swapData {
  height: 40px;
  width: 20%;
  margin: 5px 5px 5px 0;
  border-radius: 0 16px 16px 0;
  background-color: var(--appBColor1);
  overflow: hidden;
  box-sizing: border-box;
}

.content {
  box-sizing: border-box;
  background-color: transparent;
  overflow: auto;
  width: 100vw;
  flex-grow: 1;
  max-width: 100%;
  height: 100%;
  padding: 0 10px 13px 10px;
  z-index: 1;
}

.swapsManagement {
  width: fit-content;
  min-height: 540px;
  height: 100%;
}
