/* styles/media-queries.css */
@import "./variables.css";

/* Responsive Design */
@media only screen and (max-width: 1475px) {
  #WBTC.d-flex {
    display: none !important;
  }
}

@media only screen and (max-width: 1275px) {
  #DAI.d-flex {
    display: none !important;
  }
}

@media only screen and (max-width: 1075px) {
  #LINK.d-flex {
    display: none !important;
  }
}

@media only screen and (max-width: 875px) {
  #BNB.d-flex {
    display: none !important;
  }
}

@media only screen and (max-width: 675px) {
  #USDT.d-flex {
    display: none !important;
  }
}

@media only screen and (max-width: 475px) {
  #ETH.d-flex {
    display: none !important;
  }
}
